/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Archia";
  font-weight: 400;
  src: url("../../fonts/archia-regular-webfont.woff") format("woff"), url("../../fonts/archia-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Archia";
  font-weight: 700;
  src: url("../../fonts/archia-bold-webfont.woff") format("woff"), url("../../fonts/archia-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Archia";
  font-weight: 300;
  src: url("../../fonts/archia-light-webfont.woff") format("woff"), url("../../fonts/archia-light-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Archia";
  font-weight: 600;
  src: url("../../fonts/archia-semibold-webfont.woff") format("woff"), url("../../fonts/archia-semibold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Archia";
  font-weight: 500;
  src: url("../../fonts/archia-medium-webfont.woff") format("woff"), url("../../fonts/archia-medium-webfont.woff2") format("woff2");
}
body {
  overflow-x: hidden;
}

* {
  font-family: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 46px 1fr;
  grid-template-columns: 6.25% auto 6.25%;
  min-height: 226px;
  height: 70.625vw;
  background-color: #171c1c;
}
.header__title--manuscrit {
  font-size: 16px;
  font-size: 1rem;
}
.header__toggle {
  position: relative;
  z-index: 1000;
  justify-self: end;
}
.header__nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #171c1c;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.header__title, .header__toggle {
  grid-row: 1/1;
  grid-column: 2/2;
  align-self: center;
}
.header__landing {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  grid-row: 2/2;
  width: 100%;
  font-family: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
  background-image: url("../assets/produits_sur_ardoise.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}
.header__landing--wwa {
  background-image: url("../assets/banner--group--tall.jpeg");
}
.header__landing--ex {
  background-image: url("../assets/exposants.jpg");
}
.header__landing--con {
  background-image: url("../assets/contact_us.jpg");
}
.header__landing--tik {
  background-image: url("../assets/market.jpg");
}
.header__landing--ed {
  background-image: url("../assets/edition.jpg");
}

.title__link {
  display: block;
  width: 80px;
  justify-self: start;
  font-family: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.7em;
  text-decoration: none;
  color: #eacc61;
}

.manuscrit {
  color: #4edf7f;
}

.manuscrit:first-letter {
  text-transform: uppercase;
}

.landing__intro {
  width: 164px;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.15em;
  color: #eacc61;
}
.landing__manuscrit {
  font-size: 2.2017766497em;
  color: #4edf7f;
}

.exposure {
  font-variant-position: super;
}

#menu:checked ~ .header__nav {
  left: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
  border-bottom: 1px solid #eacc61;
}
.nav__item {
  display: block;
  padding: 0.5em 0;
  font-family: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
  font-weight: regular;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26.6px;
  line-height: 1.6625rem;
  text-align: center;
  text-decoration: none;
  color: #4edf7f;
  transition: 0.3s;
}
.nav__item::after {
  display: block;
  width: 0%;
  height: 1px;
  position: relative;
  left: 50%;
  background-color: #eacc61;
  content: "";
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
}
.nav__item:hover {
  color: #eacc61;
}
.nav__item:hover::after {
  width: 100%;
  left: 0;
}
.nav__item:active {
  color: #eacc61;
}
.nav__item:active::after {
  width: 100%;
}

html {
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: #4f4f4f;
}
a:hover {
  color: #eacc61;
}

.main__first__bg {
  position: absolute;
  z-index: -1;
  top: 150px;
  left: 0;
  right: 0;
  width: 50vh;
  margin: auto;
  opacity: 15%;
}
.main__first--padding {
  padding-bottom: 5.16em;
}
.main__second--reverse, .main__second--green {
  background-color: #e9fff5;
}

.first__title {
  margin: 0 6.25% 0;
}
.first__title {
  position: relative;
  z-index: 1;
  padding: 1rem;
  margin-top: -1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}
.first__title--long {
  margin-bottom: 3.583em;
}
.first__about {
  margin-bottom: 3.58em;
  max-width: 480px;
}

.title {
  line-height: 1.68em;
  font-weight: bold;
  text-align: center;
  color: #0d4d28;
  font-size: 19.2px;
  font-size: 1.2rem;
}

strong {
  font-weight: 600;
}

.second__card strong {
  font-weight: 500;
}

.section__head__wrapper {
  position: relative;
}

.intro__wrapper {
  padding: 2.986em 6.25% 5.16em;
}
.intro__main {
  padding-bottom: 1.728em;
  line-height: 1.68em;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  color: #4f4f4f;
  font-size: 16px;
  font-size: 1rem;
}

.cta {
  display: block;
  margin: 3.583em auto 0;
  width: 100%;
  max-width: 280px;
  padding: 0.694em 0;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #4f4f4f;
  color: #eacc61;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.cta:hover {
  color: #fffcf1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
}
.cta:hover .st1 {
  fill: white;
}
.cta:hover picto--filter {
  stroke: white;
}

.picto,
.picto--vert {
  display: inline-block;
  margin-right: 0.438em;
  width: 17px;
  vertical-align: sub;
}

.picto-r {
  transform: rotate(45deg);
}

.picto--filter {
  margin: 0;
}

.promo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.promo__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: auto/span 1;
}

.second__head,
.main__third {
  padding: 2.986em 6.25%;
}

.main__second {
  position: relative;
}
.main__second__bg {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 50vh;
  margin: auto;
  opacity: 20%;
}

.second__head {
  background-color: #e9fff5;
  position: relative;
}
.second__head--white {
  background-color: #fff;
}
.second__card {
  position: relative;
  z-index: 2;
  padding-bottom: 2.488em;
  max-width: calc(400px);
}

.second__title,
.third__title {
  margin-bottom: 1em;
  text-align: left;
}

.card__header, .card__dates, .card__cta, .card__content {
  line-height: 1.68em;
  color: #4f4f4f;
}
.card__cta {
  font-weight: 600;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.card__header {
  font-weight: 700;
}
.card__bold {
  font-weight: 500;
}

.main__third {
  padding-bottom: 0;
  background-color: #fff;
}

.third__title {
  color: #0d4d28;
  font-size: 19.2px;
  font-size: 1.2rem;
}
.third__partner {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 2.074em 6.25%;
  font-family: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
  background-color: #171c1c;
  font-size: 13.333px;
  font-size: 0.8333125rem;
}
.footer__nav {
  padding-bottom: 2.074em;
  display: flex;
  justify-content: center;
}
.footer__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link__container {
  margin-bottom: 0.7500000019em;
}
.footer__nav__item {
  line-height: 1.2em;
  color: #4edf7f;
}
.footer__separator {
  display: block;
  height: 1px;
  width: 35.7142857143%;
  background-color: #eacc61;
  margin: 0 auto;
}
.footer__about {
  margin-top: 2.9859757465em;
}

.about__title, .about__green, .about__link {
  color: #4edf7f;
}
.about__title {
  margin-bottom: 0.8333333125em;
  line-height: 1.68em;
  font-size: 13.3333px;
  font-size: 0.83333125rem;
}
.about__link {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 163px;
  line-height: 1.2em;
}
.about__logos {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2em;
}
.about__logo {
  width: 130px;
}

.link__legal, .link__admin {
  display: inline-block;
  line-height: 1.2em;
  color: #4edf7f;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 2.1000000525em 0 0;
}

.link__legal,
.link__admin,
.about__link,
.footer__nav__item {
  text-decoration: none;
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
}
.link__legal::after,
.link__admin::after,
.about__link::after,
.footer__nav__item::after {
  display: block;
  position: relative;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #4edf7f;
  transition: 0.3s;
}
.link__legal:hover,
.link__admin:hover,
.about__link:hover,
.footer__nav__item:hover {
  text-decoration: none;
  color: #eacc61;
}
.link__legal:hover::after,
.link__admin:hover::after,
.about__link:hover::after,
.footer__nav__item:hover::after {
  left: 50%;
  width: 0%;
}

.title--short {
  margin-bottom: 2.488em;
}

.first__about {
  line-height: 1.68em;
  color: #4f4f4f;
  margin: 0 6.25% 3.58em;
}
.first__about--p {
  margin-bottom: 2.488em;
}
.first__about--np {
  margin-bottom: 0;
}

.second__container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0 4.3em;
}

.subtitle {
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 0.833em;
}

.second__footer__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.second__header {
  margin: 2.986em 6.25% 0;
}
.second__actions {
  color: #4f4f4f;
  list-style-position: inside;
  list-style-type: disc;
}
.second__actions div {
  display: inline;
}
.second__action {
  margin-bottom: calc(1.68em / 2);
  line-height: 1.68em;
}
.second__exhibs {
  padding: 2.986em 6.25% 2.986em;
  color: #4f4f4f;
}
.second__exhibs--filtred {
  padding-top: 0;
}

.form {
  line-height: 1.68em;
  color: #4f4f4f;
}
.form--footer {
  padding-top: 1.546em;
}
.form__container {
  padding-bottom: 4.3em;
  max-width: 1190px;
  margin: 0 auto;
}

.bg {
  background: #e9fff5;
  padding-bottom: 2.986em;
}

.label,
.errorMessage,
.sucessMessage,
.fieldset__legend {
  margin-left: 0.469em;
  margin-bottom: 0.4822500012em;
  grid-column: span 2;
  font-size: 13.3333px;
  font-size: 0.83333125rem;
}

.input,
.select {
  box-sizing: border-box;
  grid-column: span 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 3px 6px;
  margin-bottom: 1.44em;
  border-radius: 0;
  border: 1px solid rgba(79, 79, 79, 0.2);
  width: 100%;
  line-height: 1.68em;
  font-size: 16px;
  font-size: 1rem;
}
.input:focus,
.select:focus {
  outline: none;
  border: 1px solid rgba(79, 79, 79, 0.8);
}

input[type=submit] {
  border: none;
}

.select {
  outline: none;
}
.select::after {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.5em;
  background-color: #0d4d28;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.form--infos {
  margin-top: 2.424em;
  color: #4f4f4f;
}

.label--checkbox {
  grid-column: 1/2;
  margin-bottom: 0;
  vertical-align: sub;
}

.checkbox {
  grid-column: 2/3;
  display: inline-grid;
  align-self: center;
  margin-right: -10px;
  width: 17px;
  height: 17px;
  border: 1px solid #0d4d28;
}

.label--checkbox,
.checkbox {
  align-items: center;
}

select::-ms-expand {
  display: none;
}

.exhib {
  min-height: 220px;
  padding: 1em 1em 1.44em;
  margin-bottom: 1.728em;
  background-color: #fff;
}
.exhib__title, .exhib__info {
  display: inline-block;
}
.exhib__title {
  padding-bottom: 0.579em;
  font-weight: 700;
  line-height: 1.68em;
  color: #4f4f4f;
}
.exhib__info {
  display: block;
  font-size: 13.3px;
  font-size: 0.83125rem;
  font-weight: 300;
  line-height: 1.2em;
  padding-bottom: 0.694em;
}
.exhib__info--location {
  font-weight: 400;
}
.exhib__info--precise {
  padding-bottom: 0.347em;
}
.exhib__tags {
  margin-top: 23px;
  font-size: 13.3px;
  font-size: 0.83125rem;
  font-weight: 500;
}
.exhib__tag {
  display: block;
  margin-bottom: 9px;
}
.exhib__tag::before {
  content: "-";
  text-indent: -5px;
}

.cta--form {
  margin-top: 1.728em;
}

.cta--form {
  margin-left: 0;
  margin-right: 0;
}

.picto--filter {
  position: relative;
  margin-right: -17px;
  margin-bottom: -30px;
  left: 90px;
  width: 24px;
  stroke: #eacc61;
}

.picto--s {
  left: 75px;
}

.no__script,
.submit__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldset__label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
}
.fieldset__label:not(:last-child) {
  margin-bottom: 1rem;
}

#isBio:checked + .label--checkbox::after,
.fieldset__checkbox:checked + .fieldset__label::before {
  background-color: #0d4d28;
}

.label--checkbox::after,
.fieldset__label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.694em;
  border: 2px solid #4f4f4f;
  vertical-align: text-top;
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s;
}

.label--checkbox::after {
  margin-right: 0;
  margin-left: 0.694em;
  vertical-align: inherit;
}

.main__third--bot {
  padding-bottom: 4.3em;
}

.pagination {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pagination__previous,
.pagination__next,
.page {
  line-height: 29px;
}

.pagination__previous,
.pagination__next {
  min-width: 75px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 11.1111px;
  font-size: 0.69444375rem;
  text-decoration: none;
  text-align: center;
  background-color: #4f4f4f;
  color: #eacc61;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}
.pagination__previous:hover,
.pagination__next:hover {
  color: #e9fff5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.14);
}

.page {
  display: inline-block;
  width: 23px;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  color: #4f4f4f;
  text-decoration: none;
}
.page--current {
  font-weight: 700;
}

.form__container {
  padding: 3.583em 6.25% 0;
}

.main__infos {
  margin: 2.074em 0 0;
}
.main__info {
  word-wrap: break-word;
  color: #4f4f4f;
}
.main__info:not(:last-child) {
  margin-bottom: 1em;
}

.total {
  grid-column: span 2;
}
.total__definition {
  float: left;
}
.total__definition::after {
  content: "";
  clear: both;
  display: table;
}
.total__price {
  display: inline-block;
  margin-left: 0.4em;
  font-weight: 600;
}

.edition__img {
  width: 100%;
}
.edition__infos {
  margin: 0 6.25%;
  line-height: 1.68em;
  color: #4f4f4f;
  margin-bottom: 2.986em;
}
.edition__definition {
  float: left;
}
.edition__definition::after {
  content: "";
  clear: both;
  display: table;
}
.edition__container {
  margin-bottom: 1.728em;
}

.errorMessage {
  color: red;
  margin-top: -1.44em;
  padding-bottom: 1.44em;
}

.inputError {
  border-color: red;
  border-width: 2px;
}

.sucessMessage {
  color: green;
  font-weight: bold;
  padding-bottom: 1.468em;
}

.empty {
  text-align: center;
  grid-column: 1/4;
  margin: 0 auto;
  font-size: 13.333px;
  font-size: 0.8333125rem;
}

#currentpage--footer,
#currentpage {
  text-decoration: none;
  color: #eacc61;
}
#currentpage--footer::after,
#currentpage::after {
  left: 0%;
  width: 100%;
  background-color: #eacc61;
}

.masonry {
  -moz-columns: 1;
       columns: 1;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.masonry__item {
  height: auto;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.total--block {
  padding: 0 6.35%;
}

.total__price--block {
  display: block;
}

@media (min-width: 500px) {
  .second__exhibs--filtred {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .pagination {
    grid-column: 1/3;
  }
}
@media (min-width: 558px) {
  .header {
    max-height: 855px;
  }

  .landing__intro {
    font-size: 1.6em;
    width: 260px;
  }

  .title__link {
    width: 113px;
    font-size: 13.33333px;
    font-size: 0.833333125rem;
  }

  .header {
    grid-template-rows: 73px 1fr;
  }
  .header__title--manuscrit {
    font-size: 23.04px;
    font-size: 1.44rem;
    line-height: 0.7em;
  }

  .footer__nav__item {
    font-size: 16px;
    font-size: 1rem;
  }

  .about__logos,
.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
  }

  .about__title {
    font-size: 16px;
    font-size: 1rem;
  }
  .about__link {
    font-size: 16px;
    font-size: 1rem;
    max-width: 186px;
  }
  .about__logo:not(:last-child) {
    margin-top: 39.81px;
    margin-bottom: 23.4px;
  }
  .about__logo:not(:first-child) {
    margin-bottom: 23.4px;
  }

  .link__legal,
.link__admin {
    font-size: 16px;
    font-size: 1rem;
    align-self: flex-start;
  }

  .link__legal {
    margin-bottom: 16px;
  }

  .form__section--fltr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .form__subtitle {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .label--fltr1,
.select--fltr1 {
    grid-column: 1/2;
  }

  .label--fltr1 {
    grid-row: 2/3;
  }

  .select--fltr1 {
    grid-row: 3/4;
  }

  .label--fltr2,
.select--fltr2 {
    grid-column: 2/3;
  }

  .label--fltr2 {
    grid-row: 2/3;
  }

  .select--fltr2 {
    grid-row: 3/4;
  }

  .checkbox--fltr3 {
    grid-column: 1/3;
  }
}
@media (min-width: 658px) {
  .form__container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 6.512605042%));
    -moz-column-gap: 13.025210084%;
         column-gap: 13.025210084%;
  }

  .main__infos {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.774em;
  }
}
@media (min-width: 750px) {
  .edition__infos {
    font-size: 23.1px;
    font-size: 1.44375rem;
  }

  .landing__intro {
    font-size: 1.8em;
    width: 300px;
  }

  .main__first__bg, .main__second__bg {
    width: 50vw;
  }
  .main__first__bg {
    top: 305px;
  }
  .main__second__bg {
    top: 500px;
  }

  .first__about--p,
.intro__main,
.cta,
.second__card,
.second__action,
.first__about {
    font-size: 23.4px;
    font-size: 1.4625rem;
  }

  .first__about {
    margin-bottom: 0;
  }

  .first__title {
    margin-top: -1.5em;
    background-color: white;
  }
  .first__about {
    max-width: 650px;
  }

  .intro__wrapper,
.main__first--padding,
.contact__container {
    padding-bottom: 10.699em;
  }

  .intro__wrapper {
    padding-top: 5.16em;
  }
  .intro__main {
    font-size: 23.4px;
    font-size: 1.4625rem;
    text-align: left;
    max-width: 702px;
    margin: 0 auto;
  }
  .intro__main:last-of-type {
    margin-bottom: 3.528034188em;
    padding-bottom: 0;
  }
  .intro__cta {
    margin: 0 auto;
  }

  .cta {
    width: 100%;
    max-width: 431px;
    padding: 0.7692307692em 0;
    font-size: 23.4px;
    font-size: 1.4625rem;
  }
  .cta--about {
    margin-left: 109.5px;
  }
  .cta--form {
    margin-top: 5.16em;
  }

  .title {
    font-size: 47.78px;
    font-size: 2.98625rem;
  }

  .promo {
    position: relative;
    display: flex;
    max-width: 1190px;
    margin: 0 auto;
    margin-bottom: -5.19890625em;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    z-index: 3;
  }
  .promo__item {
    width: 25%;
  }

  .second__head {
    padding-top: 15.407em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .second__head, .second__header, .second__exhibs {
    padding-bottom: 8.916em;
  }
  .second__exhibs {
    padding-top: 7.43em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .second__exhibs--filtred {
    display: block;
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
  .second__header {
    margin-bottom: 0;
  }
  .second__title {
    font-size: 47.78px;
    font-size: 2.98625rem;
  }

  .picto {
    width: 24px;
  }

  .picto--filter {
    width: 32px;
    margin-right: -32px;
    margin-bottom: -120px;
    left: 118px;
  }

  .exhib {
    min-height: 340px;
    padding: 1.728em 1.728em 2.074em;
  }

  .subtitle,
.exhib__title {
    font-size: 33.18px;
    font-size: 2.07375rem;
  }

  .label,
.errorMessage,
.sucessMessage,
.empty,
.fieldset__legend {
    font-size: 19.2px;
    font-size: 1.2rem;
  }

  .select,
.fieldset__label,
.label--checkbox,
.exhib__info,
.exhib__tag,
.input {
    font-size: 23.04px;
    font-size: 1.44rem;
  }

  .third__partner {
    max-width: 511px;
    margin: 0 auto;
  }

  .footer__about {
    display: flex;
    justify-content: space-between;
    margin-top: 6.1916265479em;
    max-width: none;
  }

  .about__logo:not(:last-child) {
    margin-bottom: 16px;
    margin-top: 0;
  }
  .about__head {
    margin-top: 0;
    margin-right: 20px;
  }

  .links {
    margin-left: 20px;
  }

  .pagination__previous,
.pagination__next,
.page {
    font-size: 19.4px;
    font-size: 1.2125rem;
  }

  .pagination__previous,
.pagination__next {
    display: inline-block;
    min-width: 197.05px;
    line-height: 48px;
  }

  .page {
    display: inline-block;
    line-height: 48px;
    width: 48px;
  }

  .pagination__previous {
    margin-right: 1em;
  }

  .pagination__next {
    margin-left: 1em;
  }

  .main__third--bot,
.form__container {
    display: block;
    padding-top: 7.43em;
    padding-bottom: 7.43em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main__infos {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.774em;
    font-size: 19.2px;
    font-size: 1.2rem;
  }

  .total__definition,
.total__price {
    font-size: 23px;
    font-size: 1.4375rem;
  }
}
@media (min-width: 850px) {
  .header__landing {
    height: calc(70.625vw - 76px);
    max-height: calc(855px - 76px);
  }
  .header__landing--low {
    height: calc(70.625vw - 76px);
    max-height: calc(422px - 76px);
  }
  .header__landing--wwa {
    background-image: url("../assets/banner--group--short.jpeg");
  }
  .header__landing--ex {
    background-image: url("../assets/exposants--short.jpg");
  }
  .header__landing--con {
    background-image: url("../assets/contact_us--short.jpg");
  }
  .header__landing--con {
    background-image: url("../assets/contact_us--short.jpg");
  }
  .header__landing--tik {
    background-image: url("../assets/market--short.jpg");
  }
  .header__landing--ed {
    background-image: url("../assets/edition--short.jpg");
  }

  .header {
    height: auto;
  }
  .header__title {
    width: 140px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .second__exhibs--filtred {
    display: grid;
    row-gap: 5.16em;
  }

  .footer__nav {
    margin-bottom: 0;
    padding-bottom: 4.3em;
  }
  .footer__nav__list {
    flex-direction: row;
    justify-content: center;
  }
  .footer__link__container {
    margin-bottom: 0;
  }
  .footer__link__container:not(:last-child) {
    margin-right: 16px;
  }

  .masonry {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 1100px) {
  .header__toggle,
#menu {
    display: none;
  }

  .header__nav {
    display: block;
    align-self: center;
    position: relative;
    justify-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
  }

  .nav__list {
    flex-direction: row;
    padding-bottom: 0;
    border-bottom: none;
  }
  .nav__item {
    display: inline-block;
    padding: 0.5em 10px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.68em;
  }
  .nav__item:hover::after {
    left: -6px;
    padding: 0 6px;
  }
  .nav__tiem:not(:last-child) {
    margin-right: 6px;
  }

  .main__first__bg {
    width: 40vw;
  }

  .main__first__bg {
    top: 25vh;
  }

  .form__container {
    display: grid;
  }

  .second__head--white {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-template-rows: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
  }
  .second__head--white .second__title {
    grid-column: 1/3;
  }
  .second__head--white .second__card {
    margin-left: 0;
  }
  .second__head--white .second__card:nth-child(n+2) {
    grid-template-columns: 2/3;
  }

  #currentpage::after {
    width: 100%;
    left: -6px;
    padding: 0 6px;
  }

  #currentpage--footer::after {
    padding: 0;
    left: 0;
  }

  .total--block {
    padding: 3em 0 2em;
  }

  .masonry {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 1300px) {
  .header {
    grid-template-columns: auto 1190px auto;
  }

  .pagination {
    grid-column: 1/4;
  }

  .header {
    height: auto;
  }

  .landing__intro {
    font-size: 63.04px;
    font-size: 3.94rem;
    width: 640px;
    text-align: left;
  }
  .landing__manuscrit {
    font-size: 138.8px;
    font-size: 8.675rem;
    line-height: 72px;
  }

  .title,
.intro__wrapper {
    max-width: 650px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
  }

  .first__title {
    padding: 3.6128541548em 0 1.1998953537em;
    margin: 0;
    text-align: left;
    box-shadow: none;
    background-color: transparent;
  }

  .section__head__wrapper,
.contact__container {
    max-width: 1190px;
    margin: 0 auto;
  }

  .second__head__container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
  }

  .footer {
    padding: 2.074em 0;
  }

  .first__title {
    padding: 3.596em 0 0;
  }

  .intro__wrapper {
    padding: 3.583em 0;
  }

  .main__first__bg {
    left: 0;
    top: 10.699em;
    margin-left: 880px;
    width: 750px;
    opacity: 100%;
    transform: rotate(-20deg);
  }

  .section__head__wrapper {
    margin-bottom: 10.699em;
  }

  .second__title {
    margin-right: 0;
    padding-right: 0;
  }

  .second__title--right, .second__card--right {
    width: 518px;
    margin-left: auto;
    max-width: none;
  }
  .second__title--left {
    margin-left: 0;
  }
  .second__header {
    padding-bottom: 0;
    margin: 7.43em 0 10.699em;
  }
  .second__container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0;
  }
  .second__exhibs--filtred {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .second__header--right {
    max-width: 650px;
  }
  .second__footer {
    left: -56px;
    margin: 7.43em 0 10.699em;
    overflow: hidden;
    position: relative;
    width: 508px;
  }
  .second__footer__img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .main__second__bg {
    width: 770px;
    left: 0;
    margin-right: 800px;
    opacity: 100%;
  }
  .main__second__bg--horizontal {
    top: 35%;
    opacity: 20%;
  }

  .third__title, .third__partner {
    max-width: 511px;
    margin: 0 auto;
  }

  .footer {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.68em;
  }
  .footer__container {
    display: flex;
    justify-content: flex-start;
    max-width: 1190px;
    margin: 0 auto;
  }
  .footer__separator {
    display: none;
  }
  .footer__nav {
    width: 22.4369747899%;
    margin-right: 20px;
    padding-top: 0;
  }
  .footer__nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__link__container {
    margin-bottom: 10px;
  }
  .footer__about {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
  }

  .about__head {
    width: 27.0855904659%;
    margin: 0 20px 0 0;
  }
  .about__title {
    font-weight: 500;
  }
  .about__logos {
    margin: 0 20px 0 0;
    width: 246px;
  }
  .about__logo {
    display: inline;
    width: 100%;
  }
  .about__logo:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .link__legal {
    margin-bottom: 10px;
  }

  .first__about--p,
.first__about--np,
.first__about {
    padding: 3.583em 0 0;
  }

  .first__about--p {
    display: block;
    max-width: 650px;
    margin: 0 auto 0 0;
  }
  .first__about--p:last-child {
    padding: 0;
  }

  .main__first--padding,
.second__exhibs,
.became__form {
    max-width: 1190px;
    margin: 0 auto;
  }

  #became,
.edition {
    max-width: 1190px;
    margin: 0 auto 1em;
  }

  .first__about {
    margin: 0;
  }

  .became__form {
    display: grid;
    grid-template-columns: calc(50% - 2.1848739496%) calc( 50% - 2.1848739496% );
    grid-template-rows: 1fr auto;
    -moz-column-gap: 4.3697478992%;
         column-gap: 4.3697478992%;
  }

  .form__section {
    grid-column: 1/2;
  }
  .form__section:nth-of-type(2) {
    grid-column: 2/3;
  }

  .cta--grid {
    grid-column: 1/3;
  }

  .form__section--fltr {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }

  .form__subtitle {
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .label--fltr1,
.select--fltr1 {
    grid-column: 1/2;
  }

  .label--fltr1,
.label--fltr2 {
    grid-row: 2/3;
  }

  .label--fltr3 {
    display: inline;
  }

  .label--fltr3,
.checkbox--fltr3 {
    grid-row: 3/4;
    grid-column: 3/4;
    margin-bottom: 1.44em;
  }

  .label--fltr2,
.select--fltr2 {
    grid-column: 2/3;
  }

  .label--fltr3,
.select--fltr3 {
    grid-column: 3/4;
  }

  .contact__form {
    margin: 0;
  }

  .form__container {
    grid-template-columns: repeat(2, calc(50% - 6.512605042%));
    -moz-column-gap: 13.025210084%;
         column-gap: 13.025210084%;
  }

  .submit__container--grid {
    grid-column: span 2;
  }
}