//colors
$darkgrey: #171c1c;
$orange: #eacc61;
$green: #4edf7f;
$darkestgreen: #0d4d28;
$midgreen: #4f4f4f;
$bggreen: #e9fff5;
$inputgreen: #808080;

//font family
$archia: "Archia", "Lucida Grande", Tahoma, Helvetica, Verdana, Sans-serif;
